.showlist {
  font-size: 22px;
  cursor: pointer;
  color: #0088cc;
}


.showlist:hover {
  text-decoration: underline;
  text-decoration: bold;
}



input#new-description {
	width: 30%;
}

input#new-deadline {
	width: 30%;
}