#listinglists {
	display:none;
}

#new-task {
	display: none;
}

.form-control {
	width: 65%;
}

#show-lists {
  font-size: 22px;
  cursor: pointer;
  color: #0088cc;
}


#show-lists:hover {
  text-decoration: bold;
}



.small {
	font-size: 3px;
	font-family: garamond;
}

#listdetail {
	font-size: 60px;
	text-decoration: underline;
	color: #0088cc;
	font-family: sans-serif;
}

#fulllistdisplay {
	font-size: 30px;
	font-family: sans-serif;
}

.bullets {
	font-size: 14px;
}